<configuration>

  <!-- 로그 파일 저장 위치 -->
  <property name="LOG_DIR" value="${LOG_DIR:-./logs}"/>

  <!-- 스프링 부트 기본 콘솔 appender 포함 -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <!-- 콘솔 로그 패턴 -->
  <property name="CONSOLE_LOG_PATTERN"
    value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr([%thread]){faint} %clr(%-40.40logger{39}){cyan} : %m %clr([traceId=%X{traceId:-NOT_ASSIGNED}]){faint}%n"/>

  <!-- 날짜별 롤링 파일 -->
  <appender name="DAILY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/backend.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/backend.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>14</maxHistory>
      <totalSizeCap>50MB</totalSizeCap>
    </rollingPolicy>

    <!-- 파일 로그 패턴 -->
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %replace(%X{traceId:-NOT_ASSIGNED}){'^(.+)$','[$1]'}[%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- DLT(Dead Letter Topic 전용 로깅) -->
  <appender name="DLT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/dlt.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/dlt.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
      <totalSizeCap>10MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <!-- 날짜/시간 + 메시지 -->
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
    </encoder>
  </appender>

  <logger
    name="kr.co.pawong.pwbe.infrastructure.messaging.adapter.in.KafkaDeadLetterTopicConsumer"
    level="INFO"
    additivity="false">
    <appender-ref ref="DLT_FILE"/>
    <appender-ref ref="CONSOLE"/>   <!-- 콘솔에도 출력 -->
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="DAILY_FILE"/>
  </root>

</configuration>
